[submodule "site-lisp/extensions/vs-theme"]
	path = site-lisp/extensions/vs-theme
	url = git@github.com:Happy-Grass/vs-theme.git
	branch = master
[submodule "site-lisp/extensions/lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = git@github.com:manateelazycat/lazy-load.git
	branch = master
[submodule "site-lisp/extensions/evil"]
	path = site-lisp/extensions/evil
	url = git@github.com:emacs-evil/evil.git
	branch = master
[submodule "site-lisp/extensions/emacs-application-framework"]
	path = site-lisp/extensions/emacs-application-framework
	url = git@github.com:emacs-eaf/emacs-application-framework.git
	branch = master
[submodule "site-lisp/extensions/vs-modeline"]
	path = site-lisp/extensions/vs-modeline
	url = git@github.com:Happy-Grass/vs-modeline.git
	branch = main
[submodule "site-lisp/extensions/org-roam"]
	path = site-lisp/extensions/org-roam
	url = git@github.com:org-roam/org-roam.git
	branch = main
