/*
!.gitignore
!.gitsubmodules
!.emacs
!.README.md
!site-start.el
!.emacs-custom.el
!/site-lisp
/site-lisp/*
!/site-lisp/config
!/site-lisp/extensions
!/site-lisp/template
!/site-lisp/snippets
!/site-lisp/lsp-config
!/site-lisp/win_software
/site-lisp/win_software/python-packages
