[submodule "site-lisp/extensions/vs-theme"]
	path = site-lisp/extensions/vs-theme
	url = git@github.com:Happy-Grass/vs-theme.git
	branch = master
[submodule "site-lisp/extensions/lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = git@github.com:manateelazycat/lazy-load.git
	branch = master
[submodule "site-lisp/extensions/evil"]
	path = site-lisp/extensions/evil
	url = git@github.com:emacs-evil/evil.git
	branch = master
[submodule "site-lisp/extensions/emacs-application-framework"]
	path = site-lisp/extensions/emacs-application-framework
	url = git@github.com:emacs-eaf/emacs-application-framework.git
	branch = master
[submodule "site-lisp/extensions/vs-modeline"]
	path = site-lisp/extensions/vs-modeline
	url = git@github.com:Happy-Grass/vs-modeline.git
	branch = main
[submodule "site-lisp/extensions/org-roam"]
	path = site-lisp/extensions/org-roam
	url = git@github.com:org-roam/org-roam.git
	branch = main
[submodule "site-lisp/extensions/hydra"]
	path = site-lisp/extensions/hydra
	url = git@github.com:abo-abo/hydra.git
	branch = master
[submodule "site-lisp/extensions/major-mode-hydra"]
	path = site-lisp/extensions/major-mode-hydra
	url = git@github.com:jerrypnz/major-mode-hydra.el.git
	branch = master
[submodule "site-lisp/extensions/nerd-icons"]
	path = site-lisp/extensions/nerd-icons
	url = git@github.com:rainstormstudio/nerd-icons.el.git
	branch = main
[submodule "site-lisp/extensions/dash"]
	path = site-lisp/extensions/dash
	url = git@github.com:magnars/dash.el.git
	branch = master
[submodule "site-lisp/extensions/magit"]
	path = site-lisp/extensions/magit
	url = git@github.com:magit/magit.git
	branch = main
[submodule "site-lisp/extensions/pyim"]
	path = site-lisp/extensions/pyim
	url = git@github.com:tumashu/pyim.git
	branch = master
[submodule "site-lisp/extensions/xr"]
	path = site-lisp/extensions/xr
	url = git@github.com:mattiase/xr.git
	branch = master
[submodule "site-lisp/extensions/pyim-basedict"]
	path = site-lisp/extensions/pyim-basedict
	url = git@github.com:tumashu/pyim-basedict.git
	branch = master
[submodule "site-lisp/extensions/emacs-async"]
	path = site-lisp/extensions/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
	branch = master
[submodule "site-lisp/extensions/popup-el"]
	path = site-lisp/extensions/popup-el
	url = git@github.com:auto-complete/popup-el.git
	branch = master
[submodule "site-lisp/extensions/compat"]
	path = site-lisp/extensions/compat
	url = git@github.com:emacs-compat/compat.git
	branch = main
[submodule "site-lisp/extensions/emacsql"]
	path = site-lisp/extensions/emacsql
	url = git@github.com:magit/emacsql.git
	branch = main
[submodule "site-lisp/extensions/ace-pinyin"]
	path = site-lisp/extensions/ace-pinyin
	url = git@github.com:cute-jumper/ace-pinyin.git
	branch = master
[submodule "site-lisp/extensions/ace-popup-menu"]
	path = site-lisp/extensions/ace-popup-menu
	url = git@github.com:mrkkrp/ace-popup-menu.git
	branch = master
[submodule "site-lisp/extensions/avy-menu"]
	path = site-lisp/extensions/avy-menu
	url = git@github.com:mrkkrp/avy-menu.git
	branch = master
[submodule "site-lisp/extensions/avy"]
	path = site-lisp/extensions/avy
	url = git@github.com:abo-abo/avy.git
	branch = master
[submodule "site-lisp/extensions/pinyinlib.el"]
	path = site-lisp/extensions/pinyinlib.el
	url = git@github.com:cute-jumper/pinyinlib.el.git
	branch = master
[submodule "site-lisp/extensions/emacs-wmctrl"]
	path = site-lisp/extensions/emacs-wmctrl
	url = git@github.com:tkf/emacs-wmctrl.git
	branch = master
[submodule "site-lisp/extensions/ewmctrl"]
	path = site-lisp/extensions/ewmctrl
	url = git@github.com:flexibeast/ewmctrl.git
	branch = master
[submodule "site-lisp/extensions/general"]
	path = site-lisp/extensions/general
	url = git@github.com:noctuid/general.el.git
	branch = master
[submodule "site-lisp/extensions/org-modern"]
	path = site-lisp/extensions/org-modern
	url = git@github.com:minad/org-modern.git
	branch = main
[submodule "site-lisp/extensions/org-transclusion"]
	path = site-lisp/extensions/org-transclusion
	url = git@github.com:nobiot/org-transclusion.git
	branch = main
[submodule "site-lisp/extensions/org-super-agenda"]
	path = site-lisp/extensions/org-super-agenda
	url = git@github.com:alphapapa/org-super-agenda.git
	branch = master
[submodule "site-lisp/extensions/s"]
	path = site-lisp/extensions/s
	url = git@github.com:magnars/s.el.git
	branch = master
[submodule "site-lisp/extensions/ht"]
	path = site-lisp/extensions/ht
	url = git@github.com:Wilfred/ht.el.git
	branch = master
[submodule "site-lisp/extensions/ts"]
	path = site-lisp/extensions/ts
	url = git@github.com:alphapapa/ts.el.git
	branch = master
[submodule "site-lisp/extensions/org-roam-ui"]
	path = site-lisp/extensions/org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
	branch = main
[submodule "site-lisp/extensions/emacs-web-server"]
	path = site-lisp/extensions/emacs-web-server
	url = git@github.com:skeeto/emacs-web-server.git
	branch = master
[submodule "site-lisp/extensions/emacs-websocket"]
	path = site-lisp/extensions/emacs-websocket
	url = git@github.com:ahyatt/emacs-websocket.git
	branch = main
[submodule "site-lisp/extensions/org-timeline"]
	path = site-lisp/extensions/org-timeline
	url = git@github.com:Fuco1/org-timeline.git
	branch = master
[submodule "site-lisp/extensions/org-fancy-priorities"]
	path = site-lisp/extensions/org-fancy-priorities
	url = git@github.com:harrybournis/org-fancy-priorities.git
	branch = master
[submodule "site-lisp/extensions/popper"]
	path = site-lisp/extensions/popper
	url = git@github.com:karthink/popper.git
	branch = master
[submodule "site-lisp/extensions/vertico"]
	path = site-lisp/extensions/vertico
	url = git@github.com:minad/vertico.git
	branch = main
[submodule "site-lisp/extensions/orderless"]
	path = site-lisp/extensions/orderless
	url = git@github.com:oantolin/orderless.git
	branch = master
[submodule "site-lisp/extensions/vertico-postframe"]
	path = site-lisp/extensions/vertico-postframe
	url = git@github.com:tumashu/vertico-posframe.git
	branch = main
[submodule "site-lisp/extensions/posframe"]
	path = site-lisp/extensions/posframe
	url = git@github.com:tumashu/posframe.git
	branch = master
[submodule "site-lisp/extensions/rainbow-mode"]
	path = site-lisp/extensions/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
	branch = master
[submodule "site-lisp/extensions/rainbow-delimiters"]
	path = site-lisp/extensions/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
	branch = master
